@import url('fullpage.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Playfair+Display:700');

body {
	background-color: #fff;
	transition: background-color 0.2s ease-out;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

h1, h2, h3, h4 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px dashed rgba(0, 0, 0, .3);
}

.dark_theme hr {
	border-top: 1px dashed rgba(255, 255, 255, .3);
}

.scroll-cont {
	width: 4000px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll-cont p {
	display: inline-block;
}

.close-btn {
	position: fixed;
	top: 60px;
	left: 60px;
}

.project-popup {
	position: absolute;
	display: none;
	opacity: 0;
	width: 100vw;
	background-color: black;
	color: white;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 500;
}

.project-link h4:before {
	content: '';
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	height: 2px;
	top: 14px;
	left: -46px;
	background-color: red;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
}

.project-link h4 {
	position: relative;
}





.section.partners {
	position: static;
}

a.project-link {
	display: block;
	text-decoration: none;
	position: relative;
	color: black;
	transition: transform 0.2s ease-in;
}

a.project-link.scaled {
	transform: scale(1.05);
	z-index: 700;
	transition: transform 0.2s ease-out;
}

a.project-link.scaled h4:before {
	
	opacity: 1;
	
}

.dark_theme .project-link {
	color: #fff;
}

div.img_wrapper {
	overflow: hidden;
	height: 200px;
	margin-bottom: 30px;
	width: 200px;
	background-color: #fff;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

h3 {
	font-size: 55px;
}

.home p {
	margin-top: 40px;
}

p, q {
	font-size: 18px;
}

* {
	cursor: none;
}

#cursor {
	pointer-events: none;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2500;
	display: none;
	background: transparent;
	border: 13px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	transition: linear height 0.2s, linear width 0.2s;
}

.partners .fp-slides {
	overflow: visible;
}

.hoveredCursor {
	width: 0 !important;
	height: 0 !important;
	border: 23px solid rgba(0, 0, 0, 0.3);
}

.dark_theme #cursor {
	border-color: rgba(255, 255, 255, 0.6);
}

a {
	font-size: 20px;
}

h2 {
	font-size: 55px
}

.scroll-hint {
	position: absolute;
	bottom: 50px;
}

.scroll-hint div {
	display: inline-block;
	vertical-align: middle;
}

.scroll-icon {
	background-image: url('../img/scroll-icon.png');
	height: 40px;
	width: 16px;
	margin-right: 10px;
}

.slide-cont {
	max-height: 60vh;
	position: absolute;
	bottom: 0;
	
}

.fp-auto-height .fp-tableCell {
	max-height: 60vh !important;
}

.fixed_submenu {
	padding-top: 80px;
	padding-left: 60px;
	padding-right: 60px;
}

.fixed_submenu h2 {
	font-size: 40px;
}

header {
	position: fixed;
	padding-top: 80px;
	left: 0;
	right: 0;
	padding-right: 100px;
}

.logo {
	width: 175px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border: 2px solid black;
	text-transform: uppercase;
}

body.dark_theme .logo {
	border: 2px solid #fff;
}

.split {
	width: 50%;
	height: 100vh;
}

.separator {
	width: 1px;
	background-color: #ccc;
}

nav.split {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: color 0.2s ease-in-out;
}

.nav-list {
	display: flex;
	list-style-type: none;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}

.nav-list a {
	display: inline-block;
	margin: 10px 0;
	color: #c4c4c4;
	font-size: 20px;
	transition: color 0.2s ease-in-out;
}

.nav-list a:hover {
	text-decoration: none;
	color: black;
}

.nav-list a:after {
	content: '';
	height: 1px;
	width: 60px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
	background-color: #c4c4c4;
	transition: background-color 0.2s ease-in-out;
}

.nav-list li.active a {
	color: #000;
}

.nav-list li.active a:after {
	height: 3px;
	background-color: red;
}

.fp-tableCell {
	display: flex;
	flex-flow: column nowrap;
}

.fp-slidesContainer {
	transition: transform 700ms ease 0s !important;
}

.split div.section .container {
	padding: 80px;
}

body.dark_theme {
	transition: background-color 0.2s ease-in;
	background-color: #0f0f0f;
	color: #fff;
}

.iScrollVerticalScrollbar.iScrollLoneScrollbar {
	right: auto;
	left: 0.5px;
	z-index: 200;
}

.iScrollIndicator {
	border-radius: 0 !important;
	border: none !important;
}

.scroll_red .iScrollIndicator {
	background: #f21c1c !important;
}

.scroll_blue .iScrollIndicator {
	border-radius: 0 !important;
	border: none !important;
	background: #4a7ef4 !important;
}

.scroll_lightblue .iScrollIndicator {
	background: #a0c4ef !important;
}

body.dark_theme .nav-list li.active a {
	color: #fff;
}

body.dark_theme .nav-list a:hover {
	text-decoration: none;
	color: #fff;
}

div.section .slide div.container-fluid {
	padding-top: 0;
	padding-left: 60px; 
	padding-right: 60px;
	padding-top: 30px;
}

.submenu a {
	font-size: 14px;
	color: #9e9e9e;
	margin-right: 60px;
	transition: color 0.2s ease-in-out;
}

.submenu a:hover {
	color: black;
	text-decoration: underline;
	transition: cursor 0.2s ease-in-out;
}

.dark_theme .submenu a:hover {
	color: #fff;
	text-decoration: underline;
	transition: cursor 0.2s ease-in-out;
}

.submenu a.active {
	color: black;
	text-decoration: underline;
}

.dark_theme .submenu a.active {
	color: #fff;
	text-decoration: underline;
}

.languages a {
	font-size: 16px;
	color: #9e9e9e;
	margin-right: 30px;
	transition: color 0.2s ease-in-out;
	display: inline-block;
}

.languages {
	position: absolute;
	z-index: -1;
	bottom: 60px;
}

.languages a:hover {
	color: black;
	text-decoration: underline;
}

.dark_theme .languages a:hover {
	color: #fff;
	text-decoration: underline;
}

.submenu a.active {
	color: black;
}

.fp-controlArrow {
	display: none;
}

@media (max-width:768px) {
	nav {
		position: fixed;
		transform: translateX(-100%);
		top: 0;
		bottom: 0;
		background-color: green;
		width: 50vw;
	}

	main.split {
		width: 100vw;
	}

	.separator {
		display: none;
	}

}
