@import url('fullpage.min.css');

body {
	background-color: #fff;
	transition: background-color 0.2s ease-out;
}

h4 {

}

h5 {
	font-size: 40px
}
header {
	position: fixed;
}

.logo {
}

.split {
	width: 50%;
	height: 100vh;
}

.separator {
	width: 1px;
	background-color: #ccc;
}

nav.split {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: color 0.2s ease-in-out;
}

.nav-list {
	display: flex;
	list-style-type: none;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}

.nav-list a {
	display: inline-block;
	margin: 10px 0;
	color: #c4c4c4;
	font-size: 20px;
	transition: color 0.2s ease-in-out;
}

.nav-list a:hover {
	text-decoration: none;
	color: black;
}

.nav-list a:after {
	content: '';
	height: 1px;
	width: 60px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
	background-color: #c4c4c4;
	transition: background-color 0.2s ease-in-out;
}

.nav-list li.active a {
	color: #000;
}

.nav-list li.active a:after {
	height: 3px;
	background-color: red;
}

.fp-tableCell {
	display: flex;
	flex-flow: column nowrap;
}

.fp-slidesContainer {
	transition: transform 700ms ease 0s !important;
}
.split div.section .container {
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 80px;
	padding-bottom: 80px;
}

body.dark_theme {
	transition: background-color 0.2s ease-in;
	background-color: #0f0f0f;
	color: #fff;
}

.iScrollVerticalScrollbar.iScrollLoneScrollbar {
	right: auto;
	left: 0;
}

body.dark_theme .nav-list li.active a {
	color: #fff;
}

body.dark_theme .nav-list a:hover {
	text-decoration: none;
	color: #fff;
}
